#detail {
    .main{
        display: flex;
        justify-content: space-between;
        margin-top:8px;
        .rout{
            width:614px;
        }
        .flow{
            width:371px;
        }
    }
}

