
#travelBooking {
    .list {
        color: black;
        padding-bottom: 20px;
        .listHeader {
            height: 40px;
            margin: 8px 0;
            background: white;
            display: flex;
            > p {
                width: 140px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                cursor: pointer;
                &.active {
                    color: #f65859;
                    font-weight: 600;
                    border-bottom: 2px solid #f65859;
                }

            }
        }
        .warp {
            > table {
                width: 100%;
                background: #ffffff;
                border-collapse: collapse;
                td {
                    border: 1px solid #e2e2e2;
                    height: 53px;
                    padding-left: 20px;
                }
                .city {
                    width: 236px;
                    .iconfont {
                        font-size: 18px;
                        margin-right: 22px;
                        color: #666666;
                    }
                    .cityName {
                        color: #3a2071;
                        font-weight: 600;
                    }
                }
                .people {
                    .names {
                        font-weight: 600;
                    }
                }
                .handle{
                    width:120px;
                    text-align: center;
                    padding:0;
                    .preDing{
                        width:72px;
                        background: #f65859;
                        color:white;
                    }
                    .dingNum{
                        color:#00b3fd;
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }
                .date {
                    width: 120px;
                }
            }
            .shenpi {
                display: flex;
                background: #f5f5f5;
                height: 42px;
                line-height: 42px;
                padding-left: 20px;
                justify-content: space-between;
                > div:not(.status) {
                    margin-right: 50px;
                }
                .iconfont {
                    font-size: 16px;
                    color: #b5b5b5;
                    margin: 0 10px 0 2px;
                }
                .applyerName {
                    color: #fa0438;
                }
                .prot {
                    flex-grow: 1;
                    display: flex;
                    justify-content: space-between;
                    margin-right: 30px!important;
                }
                .status {
                    width: 121px;
                    .state {
                        padding-left: 5px;
                        border-left: 1px solid #e2e2e2;
                        color: #f65859;
                        display: inline-block;
                        width: 70px;
                    }
                    .applyNo {
                        cursor: pointer;
                        text-decoration: underline;
                        &:hover {
                            color: blue;
                        }
                    }
                }
            }
        }
    }
}
